* {
    margin: 0;
    padding: 0;
}

/*--Colours--*/

.background {
    background-color: #373E43;
}

/*--Memory Game--*/

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}